@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow+Condensed:wght@300;600&family=La+Belle+Aurore&family=PT+Sans+Narrow&family=Raleway&family=Roboto+Flex:opsz,wght@8..144,100&family=Skranji&display=swap');
body {
    background-color: rgb(14, 102, 85);
    height: 95%;
    color:rgb(232, 246, 243);
    position: relative;
    min-height: 100vh;
   
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  
}
.scoreboard {
    text-align: center;
    padding: 0;
    margin: 0;
}
.titleAndScoreboard {
    display: flex;
    justify-content: space-between;
    width: 80%;
    line-height: 0.5rem;
    margin-bottom: 1.5em;
    /* border: 0.2em solid rgb(56, 104, 99); */
    
    /* padding-left: 1rem; */
    padding-right: 1rem; 
    border-radius: 10px;   
 
}
.title, .scoreboard {
    margin-top: 0;
}
h1 {
    font-family:  'Babylonica', 'UnifrakturMaguntia', cursive;
    font-size: 3rem;

}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width: 18vw;
    border: 0.5em solid rgb(162, 217, 206);
    border-radius: 10px;
}

#gridDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

}

footer { 
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(232, 246, 243);
    width: 100%;
    text-align: center;
}